@{
    ViewData["Title"] = "Tipo de Cuenta";
    Layout = "_LayoutLogin";
}

<div class="user-container d-flex justify-content-center flex-column vh-100 align-items-center position-relative">
    <img src="" alt="logo" class="mb-5">
    <a asp-controller="lessee" asp-action="login" class="btn btn-primary mb-2 rounded-pill w-25">Propietario</a>
    <a asp-controller="renter" asp-action="login" class="btn btn-primary rounded-pill w-25">Inquilino</a>

    <p class="position-absolute message">Elige tipo de cuenta</p>
</div>