@{
    ViewBag.Renter = false;
}

<div class="w-100 p-md-5 pb-5 px-3 fee-main dashboard position-relative">
    <h1 class="pb-2 pb-md-0 mb-md-4 mb-2 title-main d-flex align-items-center px-3 px-md-0 pt-5 pt-md-0 mx-0">
        Cuenta
        <button class="ml-auto bg-transparent border-0 pl-3" id="accountButtonEdit">
            <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
        </button>
    </h1>

    <div class="department-options-container shadow rounded flex-column d-none" id="accountOptions">
        <a asp-controller="lessee" asp-action="updateuserinfo" class="department-options__link p-3 px-4">
            <svg class="mr-1" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
            Actualizar Datos
        </a>
        <a asp-controller="lessee" asp-action="updatepassword" class="department-options__link p-3 text-left px-4 bg-transparent border-0">
            <svg class="mr-1" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
            </svg>
            Cambiar Contraseña
        </a>
        <a asp-controller="lessee" asp-action="updatecontract" class="department-options__link p-3 text-left px-4 bg-transparent border-0">
            <svg class="mr-1" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                <path fill-rule="evenodd" d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            Modifica Contrato
        </a>
        <a asp-controller="lessee" asp-action="updatepassword" class="department-options__link p-3 text-left px-4 bg-transparent border-0">
            <svg class="mr-1" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            Modificar Departamentos
        </a>
    </div>

    <div class="mb-5 border-bottom">
        <h3 class="secondary-title mb-3">Datos Personales</h3>

        <div class="d-md-flex d-block mb-2">
            <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Nombre</span>
            <p class="p-0 col m-0">Matias Monasterio</p>
        </div>

        <div class="d-md-flex d-block mb-2">
            <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Correo</span>
            <p class="p-0 col m-0">matias_monasterio@outlook.com</p>
        </div>

        <div class="d-md-flex d-block mb-2">
            <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Telefono</span>
            <p class="p-0 col m-0">(011) 15-34540195</p>
        </div>

        <div class="d-md-flex d-block mb-2">
            <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Contraseña</span>
            <p class="p-0 col m-0">************</p>
        </div>
    </div>

    <div class="mb-5 border-bottom">
        <h3 class="secondary-title mb-3">Datos Contrato</h3>

        <div class="d-md-flex d-block mb-2">
            <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Fecha Inicio</span>
            <p class="p-0 col m-0">01 Octubre 2020</p>
        </div>
        
        <div class="d-md-flex d-block mb-2">
            <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Fecha Cierre</span>
            <p class="p-0 col m-0">01 Octubre 2022</p>
        </div>
    </div>

    <div class="mb-4 border-bottom">
        <h3 class="secondary-title mb-3">Datos Departamentos</h3>

        <div class="department-info-container mb-5">
            <h5 class="mb-1 secondary-title d-block text-secondary small">Departamento 01</h5>
            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Direccion</span>
                <p class="p-0 col m-0">Rafael 1245</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Localidad</span>
                <p class="p-0 col m-0">Moreno, Buenos Aires</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Antiguedad</span>
                <p class="p-0 col m-0">2 años</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Ambientes</span>
                <p class="p-0 col m-0">2</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Expensas</span>
                <p class="p-0 col m-0">No incluye</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Estado</span>
                <p class="p-0 col m-0">Ocupado</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Descripcción</span>
                <p class="p-0 col m-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed saepe explicabo quisquam doloribus 
                    nesciunt exercitationem placeat cumque odit quidem officiis! Amet nam magni adipisci accusantium.
                </p>
            </div>
        </div>

        <div class="department-info-container mb-5">
            <h5 class="mb-1 secondary-title d-block text-secondary small">Departamento 02</h5>
            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Direccion</span>
                <p class="p-0 col m-0">Rafael 1245</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Localidad</span>
                <p class="p-0 col m-0">Moreno, Buenos Aires</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Antiguedad</span>
                <p class="p-0 col m-0">2 años</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Ambientes</span>
                <p class="p-0 col m-0">2</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Expensas</span>
                <p class="p-0 col m-0">No incluye</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Estado</span>
                <p class="p-0 col m-0">Disponible</p>
            </div>

            <div class="d-md-flex d-block mb-2">
                <span class="text-black-50 p-0 col-12 col-sm-4 m-0 col-lg-2">Descripcción</span>
                <p class="p-0 col m-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed saepe explicabo quisquam doloribus 
                    nesciunt exercitationem placeat cumque odit quidem officiis! Amet nam magni adipisci accusantium.
                </p>
            </div>
        </div>
    </div>
</div>