<h1 class="mb-4 title-main">Dashboard</h1>

<div class="row container m-0 p-0">
    <a href="#" class="col-12 col-sm-6 col-md-4 p-2">
        <div class="card container py-3">
            <header class="department-card__header mb-2">
                <h5 class="card-title mb-0">Departamento 01</h5>
                <span class="card-username">Monasterio Matías</span>
            </header>
            <div class="card-body p-0">
                <p class="card-text m-0">Venicimiento 10/11</p>
                <p class="card-text m-0">Monto $15000</p>
                <p class="card-text m-0">Estado pendiente</p>
            </div>
        </div>
    </a>

    <a href="#" class="col-12 col-sm-6 col-md-4 p-2">
        <div class="card container py-3">
            <header class="department-card__header mb-2">
                <h5 class="card-title mb-0">Departamento 01</h5>
                <span class="card-username">Monasterio Matías</span>
            </header>
            <div class="card-body p-0">
                <p class="card-text m-0">Venicimiento 10/11</p>
                <p class="card-text m-0">Monto $15000</p>
                <p class="card-text m-0">Estado pendiente</p>
            </div>
        </div>
    </a>

    <a href="#" class="col-12 col-sm-6 col-md-4 p-2">
        <div class="card container py-3">
            <header class="department-card__header mb-2">
                <h5 class="card-title mb-0">Departamento 01</h5>
                <span class="card-username">Monasterio Matías</span>
            </header>
            <div class="card-body p-0">
                <p class="card-text m-0">Venicimiento 10/11</p>
                <p class="card-text m-0">Monto $15000</p>
                <p class="card-text m-0">Estado pendiente</p>
            </div>
        </div>
    </a>

    <a href="#" class="col-12 col-sm-6 col-md-4 p-2">
        <div class="card container py-3">
            <header class="department-card__header mb-2">
                <h5 class="card-title mb-0">Departamento 01</h5>
                <span class="card-username">Monasterio Matías</span>
            </header>
            <div class="card-body p-0">
                <p class="card-text m-0">Venicimiento 10/11</p>
                <p class="card-text m-0">Monto $15000</p>
                <p class="card-text m-0">Estado pendiente</p>
            </div>
        </div>
    </a>
</div>
