<div class="p-5 dashboard">
    <h1 class="mb-3 title-main">Dashboard</h1>

    <div class="container row m-0 p-0">
        <a asp-controller="lessee" asp-action="department" asp-route-id="1" class="col-12 col-md-6 p-2">
            <div class="card container py-3">
                <header class="department-card__header mb-2">
                    <h5 class="card-title mb-0">Departamento 01</h5>
                    <span class="card-username">Monasterio Matías</span>
                </header>
                <div class="card-body p-0">
                    <p class="card-text m-0">Venicimiento 10/11</p>
                    <p class="card-text m-0">Monto $15000</p>
                    <p class="card-text m-0">Estado pendiente</p>
                </div>
            </div>
        </a>

        <a asp-controller="lessee" asp-action="department" asp-route-id="1" class="col-12 col-md-6 p-2">
            <div class="card container py-3">
                <header class="department-card__header mb-2">
                    <h5 class="card-title mb-0">Departamento 01</h5>
                    <span class="card-username">Monasterio Matías</span>
                </header>
                <div class="card-body p-0">
                    <p class="card-text m-0">Venicimiento 10/11</p>
                    <p class="card-text m-0">Monto $15000</p>
                    <p class="card-text m-0">Estado pendiente</p>
                </div>
            </div>
        </a>

        <a asp-controller="lessee" asp-action="department" asp-route-id="1" class="col-12 col-md-6 p-2">
            <div class="card container py-3">
                <header class="department-card__header mb-2">
                    <h5 class="card-title mb-0">Departamento 01</h5>
                    <span class="card-username">Monasterio Matías</span>
                </header>
                <div class="card-body p-0">
                    <p class="card-text m-0">Venicimiento 10/11</p>
                    <p class="card-text m-0">Monto $15000</p>
                    <p class="card-text m-0">Estado pendiente</p>
                </div>
            </div>
        </a>

        <a asp-controller="lessee" asp-action="department" asp-route-id="1" class="col-12 col-md-6 p-2">
            <div class="card container py-3">
                <header class="department-card__header mb-2">
                    <h5 class="card-title mb-0">Departamento 01</h5>
                    <span class="card-username">Monasterio Matías</span>
                </header>
                <div class="card-body p-0">
                    <p class="card-text m-0">Venicimiento 10/11</p>
                    <p class="card-text m-0">Monto $15000</p>
                    <p class="card-text m-0">Estado pendiente</p>
                </div>
            </div>
        </a>
    </div>
</div>
