@{
    ViewData["Title"] = "Iniciar Cuenta Propietario";
    Layout = "_LayoutLogin";
}

<div class="user-bg bg-dark d-flex vh-100">
    <div class="user-container bg-light w-50 ml-auto d-flex flex-column align-items-center justify-content-center position-relative">
        <img src="" alt="logo" class="mb-5">

        <form action="" class="w-50 login-form">
            <div class="form-group position-relative mb-1">
                <svg class="input-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg>
                <input type="text" placeholder="Email" class="form-control">
            </div><!-- FORM GROUP -->

            <div class="form-group position-relative mb-5">
                <svg class="input-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                </svg>
                <input type="password" placeholder="Contraseña" class="form-control">
            </div><!-- FORM GROUP -->

            <input type="submit" value="Iniciar Sesion" class="btn btn-primary rounded-pill w-100">
        </form><!-- LOGIN FORM -->

        <div class="login-options position-absolute top-85 d-flex justify-content-around w-100">
            <a asp-controller="lessee" asp-action="forgot-pass" class="message">Olvide Contraseña</a>
            <a asp-controller="lessee" asp-action="register" class="message">Crear Cuenta</a>
        </div><!-- LOGIN OPTIONS -->

    </div><!-- USER CONTAINER -->
</div><!-- USER BG -->