<div class="register-container d-flex vh-100 flex-column align-items-center justify-content-center container position-relative">
    <div class="d-flex position-absolute register__tab text-center justify-content-around w-75 border-bottom position-relative">
        <p class=" w-50">Cuenta</p>
        <p class="w-50  register__tab-selected position-relative">Departamentos</p>
    </div>

    <form action="" class="w-50 d-flex flex-column">
        <h2 class="form-title">Departamento 01</h2>
        <label for="adress" class="position-relative w-100 mb-2">
            <p class="d-inline">Dirección</p>
            <input type="text" id="adress" placeholder="Ingrese Dirección" class="form-control" autocomplete="off">
        </label>

        <label for="number" class="position-relative w-100 mb-2">
            <p class="d-inline">Número</p>
            <input type="text" id="number" placeholder="Ingrese Numeración" class="form-control" autocomplete="off">
        </label><!-- FORM GROUP -->

        <label for="depto" class="position-relative w-100 mb-2">
            <p class="d-inline">Piso y Departamento</p>
            <input type="text" id="depto" placeholder="Ingrese piso y departamento" class="form-control" autocomplete="off">
        </label><!-- FORM GROUP -->

        <label for="location" class="position-relative w-100 mb-2">
            <p class="d-inline">Localidad</p>
            <input type="text" id="location" placeholder="Ingrese localidad" class="form-control" autocomplete="off">
        </label><!-- FORM GROUP -->

        <button class="btn-secundary ml-auto">Agregar otro departamento</button>
    </form>

    <div class="register__button-container top-85 position-absolute w-100 mx-auto d-flex justify-content-between">
        <a asp-controller="lessee" asp-action="RegisterAccountInfo" class="w-25 btn btn-outline-primary rounded-pill">Atras</a>
        <a asp-controller="lessee" asp-action="dashboard" class="w-25 btn btn-primary rounded-pill">Finalizar</a>
    </div>
</div>