@{
    ViewBag.Renter = false;
}

<div class="w-100 p-md-5 pb-5 px-3 fee-main dashboard">
    <h1 class="pb-2 pb-md-0 mb-md-4 mb-2 title-main d-flex align-items-center px-3 px-md-0 pt-5 pt-md-0 mx-0">Datos Contrato</h1>

    <form asp-controller="lessee" asp-action="saveContractInfo" method="POST" class="col-lg-8 col-md-10 col-12 px-0 d-flex flex-column">
        <div class="form-group">
            <label class="w-100 mb-2">
                <p class="text-black-50 mb-0">Contrase Actual</p>
                <input class="input-form" type="password" name="password">
            </label><!-- FROM LABEL -->
        </div><!-- FROM GROUP -->
        <div class="form-group">
            <label class="w-100 mb-2">
                <p class="text-black-50 mb-0">Nueva Contraseña</p>
                <input class="input-form" type="password" name="newPassword">
            </label><!-- FROM LABEL -->
        </div><!-- FROM GROUP -->
        <div class="form-group">
            <label class="w-100 mb-2">
                <p class="text-black-50 mb-0">Repita la Contraseña</p>
                <input class="input-form" type="password" name="newPasswordRepeat">
            </label><!-- FROM LABEL -->
        </div><!-- FROM GROUP -->
        <input type="submit" value="Actualizar" class="btn-primary px-4 py-1 ml-auto rounded-pill">
    </form><!-- FROM -->
</div>