/*=================================================================================*/
/*                               Global Styles                                     */
/*=================================================================================*/
:root {
  /* COLOR LIST */
  --gray: #707070;
  --green: #1E8D31;
  --green-light: #2fa343;


  /* FONT COLOR */
  --font-color-primary: var(--gray);
  --primary-color: var(--green);
  --primary-color-light: var(--green-light);


  /* BACKGROUND COLOR */

  /* FONT SIZE */
  --font-size-base: 15px;
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--font-size-base);
}
body {
  color: var(--font-color-primary);
  box-sizing: border-box;
}
a {
  color: var(--font-color-primary);   /* Pasar a variable */
}
a:hover {
  color: inherit;
  text-decoration: none;
}
button {
  color: inherit;
}
.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-light);
}

.btn-outline-primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-secundary{
  background-color: transparent;
  border: none;
  color: var(--primary-color-light);
  font-size: .85rem;
}

.btn-secundary:hover{
  text-decoration: underline;
}

.form-control{
  border-radius: 50px;
  padding-left: 40px;
}

.input-icon{
  color: #6c757d;   /* Pasar a variable */
  left: 14px;
  bottom: 10px;
  font-size: 1.2rem;
  position: absolute;
}

.title-main{
  font-size: 1.3rem;
  font-weight: 900;
}

/*==============================================================================*/
/*                                 User style                                   */
/*==============================================================================*/

.message{
  font-size: .75rem;
  top: 85%;
}
.top-85{
  top: 85%;
}

/*==============================================================================*/
/*                                 Register                                  */
/*==============================================================================*/
.register__tab{
  top: 10%;
}

.register__tab-selected::after{
  background-color: var(--primary-color);
  content: '';
  display: block;
  text-align: center;
  height: 3px;
  position: absolute;
  top: 37px;
  width: 100%;
}

.form-title{
  font-weight: 800;
  font-size: 1.1rem;
}

/*==============================================================================*/
/*                                 Propietario layout                           */
/*==============================================================================*/
.sidebar{
  border-right: 1px solid #E2E2E2;
  width: 22%;
  min-width: 220px;
  max-width: 300px;
  overflow-y: auto;
}
.sidebar-list{
  list-style: none;
}
.sidebar-link{
  padding: 8px 12px;
  display: inline-block;
  width: 100%;
}
.sidebar-link:hover{
  background-color: var(--primary-color-light);
  color: white;
}
.sidebar-item{
  display: flex;
  align-items: center;
}
.sidebar-item__icon{
  font-size: 2rem;
  padding-right: 10px;
}
.department-list {
  overflow-y: hidden;
}

/*==============================================================================*/
/*                                     Dashboard                                */
/*==============================================================================*/
.card{
  border: none;
  box-shadow: 0 0 6px rgba(71, 71, 71, .52);
}
.card:hover{
  box-shadow: 0 0 8px rgba(71, 71, 71, .7);
}
.card-title{
  color: var(--primary-color-light);
  font-size: 1rem;
  font-weight: 700;
}
.card-username{
  color: #afafaf;
  font-size: .85rem;
}
.card-body{
  font-size: .8rem;
}

/*==============================================================================*/
/*                                     Deparment                                */
/*==============================================================================*/
.btn-fee-show{
  background-color: transparent;
  border: none;
  font-size: .85rem;
}
.deparment-card{
  border: none;
  text-align: left;
}
.deparment-card:hover{
  background-color: lightgray;
}
.deparment-card__icon{
  border: 2px solid gray;
  border-radius: 100px;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 10px;
  color: #707070;
}
.deparment-card__fee{
  color: var(--primary-color-light);
  font-size: 1rem;
  font-weight: 400;
}

.deparment-card__date{
  font-size: .8rem;
}

.fee-details-container{
  width: 34vw;
  min-width: 280px;
  height: 100vh;
  overflow: hidden;
}

.fee-details-container__title{
  font-size: 1.1rem;
  font-weight: 900;
}

.fee-main{
  overflow-y: auto;
  height: 100vh;
}
.fee-details-container{
  border-left: 1px solid gainsboro;
  color: inherit;
}
.fee-details__button{
  background-color: transparent;
  color: inherit;
  border: none;
  border-top: 1px solid gainsboro;
  text-align: left;
}
.fee-details__button:last-child{
  border-bottom: 1px solid gainsboro;
}
.fee-details__button-icon{
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 10px;
}

.confirm__text{
  font-size: 1.2rem;
  font-weight: 900;
}

/*==============================================================================*/
/*                                     Settings                                 */
/*==============================================================================*/
.settings {
  overflow-y: auto;
}
.secondary-title{
  font-size: 15px;
  font-weight: 900;
}
.footer{
  font-size: 13px;
}
