/*=================================================================================*/
/*                               Global Styles                                     */
/*=================================================================================*/
:root {
  /* COLOR LIST */
  --gray: #474a48;
  --gray-light: #f1f1f1;
  --green: #1E8D31;
  --green-light: #2fa343;
  --white: #fbfbfb;


  /* FONT COLOR */
  --color-font-primary: var(--gray);
  --primary-color: var(--green);
  --primary-color-light: var(--green-light);


  /* BACKGROUND COLOR */

  /* FONT SIZE */
  --font-size-base: 15px;
}

.main-container{
  background-color: var(--white);
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-size: 15.5px;
}
@media (min-width: 768px){
  html{
    font-size: var(--font-size-base);
  }
  
}
body {
  color: var(--color-font-primary);
  box-sizing: border-box;
  overflow-x: hidden;
}
a {
  color: var(--color-font-primary);   /* Pasar a variable */
}
a:hover {
  color: inherit;
  text-decoration: none;
}
button {
  color: inherit;
}
button:focus-within{
  outline: transparent;
}
.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-light);
}

.btn-outline-primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-secundary{
  background-color: transparent;
  border: none;
  color: var(--primary-color-light);
  font-size: .85rem;
}

.btn-secundary:hover{
  text-decoration: underline;
}

.form-control{
  border-radius: 50px;
  padding-left: 40px;
}

.input-icon{
  color: #6c757d;   /* Pasar a variable */
  left: 14px;
  bottom: 10px;
  font-size: 1.2rem;
  position: absolute;
}

.title-main{
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 600;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
}

@media (min-width: 768px){
  .title-main{
    font-size: 1.3rem;
    position: relative;
    line-height: initial;
  }
}

/*==============================================================================*/
/*                                 User style                                   */
/*==============================================================================*/

.message{
  font-size: .75rem;
  top: 85%;
}
.top-85{
  top: 85%;
}

/*==============================================================================*/
/*                                 Register                                  */
/*==============================================================================*/
.register-container{
  color: var(--gray);
}

.register__tab-selected::after{
  background-color: var(--primary-color);
  content: '';
  display: block;
  text-align: center;
  height: 3px;
  position: absolute;
  top: 37px;
  width: 100%;
}

.form-title{
  font-weight: 800;
  font-size: 1.1rem;
}
.register-form{
  flex: none;
}

/*==============================================================================*/
/*                                 Propietario layout                           */
/*==============================================================================*/
.sidebar{
  overflow-y: auto;
  position: fixed;
  width: 75vw;
  max-width: 280px;
  top: 0;
  left: -100%;
  transition: left .2s ease;
  z-index: 10;
  background-color: #343A40;
  color: var(--gray-light);
}
.sidebar-show-transition{
  left: 0;
}
.sidebar-button{
  position: fixed;
  left: 0;
}
.sidebar-list{
  list-style: none;
}
.sidebar-link{
  padding: 8px 16px;
  display: inline-block;
  width: 100%;
  background-color: transparent;
  color: inherit;
}
.sidebar-item{
  display: flex;
  align-items: center;
}
.sidebar-item__icon{
  font-size: 2rem;
  padding-right: 10px;
}
.department__item {
  opacity: 0;
  transition: opacity .03s ease;
  transition-delay: initial;
}
.department-list {
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  transition: transform .02s ease;
  transform-origin: top;
  transition-delay: .02s;
}
.department-options-container{
  position: fixed;
  background-color: var(--white);
  z-index: 5;
  right: 1rem;
  top: 6rem;
}
@media (min-width: 768px){
  .department-options-container{
    position: absolute;
    right: 3rem;
  }
  .department-options__link:hover{
    color: var(--green-light);
  }
  .department__item{
    color: var(--green-light);
  }
}
.deparment-list-show {
  position: relative;
  transform: scaleY(1);
  transition-delay: initial;
}

.deparment-list-show .department__item{
  opacity: 1;
  transition-delay: .02s;
}

.sidebar__department-button .pointer{
  transform: rotate(180deg);
}

@media (min-width: 768px){
  .sidebar {
    width: 22%;
    min-width: 230px;
    max-width: 300px;
    position: relative;
    left: 0;
  }

  .sidebar-button{
    position: initial;
  }

  .sidebar-link:hover{
    background-color: var(--green);
    color: var(--white);
  }

  .sidebar-link{
    padding: 8px 14px;
  }
}
/*==============================================================================*/
/*                                     Dashboard                                */
/*==============================================================================*/
.dashboard {
  overflow-y: auto;
  max-height: 100vh;
  margin-top: 100px;
}
.card{
  border: none;
  background-color: var(--gray-light);
}
.card:hover{
  background-color: #e4e4e4;
}
.card-title{
  color: var(--primary-color-light);
  font-size: 1rem;
  font-weight: 700;
}
.card-username{
  color: #afafaf;
  font-size: .85rem;
}
.card-body{
  font-size: .8rem;
}

@media (min-width: 768px){
  .dashboard {
   margin-top: 0;
  }
}

/*==============================================================================*/
/*                                     Deparment                                */
/*==============================================================================*/
.btn-fee-show{
  background-color: transparent;
  border: none;
  font-size: .85rem;
}
.deparment-card{
  border: none;
  text-align: left;
  background-color: var(--gray-light);
}
.deparment-card:hover{
  background-color: #e4e4e4;
}
.deparment-container-expand svg{
  transform: rotate(-90deg);
}
.deparment-card__icon{
  border: 2px solid gray;
  border-radius: 100px;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 10px;
  color: #707070;
}
.deparment-card__fee{
  color: var(--green-light);
  font-size: 1rem;
  font-weight: initial;
}

.deparment-card__date{
  font-size: .8rem;
}

.fee-details-container{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: -100%;
  z-index: 11;
  background-color: var(--white);
  width: 100%;
  max-width: 450px;
  transition: right .2s ease;
}
.fee-details-container__title{
  font-size: 1.1rem;
  font-weight: 900;
}
.showFeeDetailsContainer {
  right: 0;
}
@media (min-width: 768px){
  .fee-details-container{
  width: 25vw;
  height: 100vh;
  min-width: 280px;
  position: absolute;
  transition-duration: 0s;
  }
  .showFeeDetailsContainer {
    position: relative;
  }
}
.fee-main{
  overflow-y: auto;
  max-height: 100vh;
}
.fee-details-container{
  border-left: 1px solid gainsboro;
  color: inherit;
}
.fee-details__button{
  background-color: transparent;
  color: inherit;
  border: none;
  border-top: 1px solid gainsboro;
  text-align: left;
}
.fee-details__button:last-child{
  border-bottom: 1px solid gainsboro;
}
.fee-details__button-icon{
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 10px;
}

.confirm__text{
  font-size: 1.2rem;
  font-weight: 900;
}

/*==============================================================================*/
/*                                     Settings                                 */
/*==============================================================================*/
.settings {
  overflow-y: auto;
  /* height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available; */
}
.secondary-title{
  font-size: 15px;
  font-weight: 900;
}
.footer{
  font-size: 13px;
}


/*==============================================================================*/
/*                                      Login                                   */
/*==============================================================================*/
.bg-login{
  background-color: rgba(52, 58, 64, 0.8);
  color: var(--gray-light);
}
a{
  color: inherit;
}
.bg-login::after{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/ibrahim-rifath-qtV50uclwXw-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

@media (min-width: 767px){
  .bg-login{
    background-image: url('/assets/ibrahim-rifath-qtV50uclwXw-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-login::after{
    display: none;
  }
  .bg-light-login{
    background-color:  rgba(52, 58, 64, 0.9);
  }
}